# Configuration file for training. 
#

# location of the data file
datafile: pages/output.shingle

# shingle algorithms
# Allowed values for shingle-method include:
#   original
#   weighted
#   ignore-order
# shingle-method: original
shingle-method: ignore-order,original

# which stop word elimination algorithm to be applied
# allowed values:
#   default: use default one
#   none:    don't apply stop word elimination
# stopword=default
stopword=none

# which stemming algorithm to be applied
# allowed values:
#   default: use default one
#   none:    don't apply stemming algorithm
stemmer=default

# which filters to be applied
# allowed values:
#   default:
#   none:   don't use filtering
#   filter1, filter2,...filterN: apply these filters in order.
# 
# Allowed filter names:
#   heading, title, emph

# filters=default
filters=

# set shingle size range
# format is
#   start(inclusive), step, stop(inclusive)
# 
size-range=1,1,6

# tag-removal=default
tag-removal=none

# possessive=default
possessive=none
