# Configuration file for training. 
#

# location of the data file
datafile: res://searchResult.txt

# shingle algorithms
# Allowed values for shingle-method include:
#   original
#   weighted
#   ignore-order
shingle-method: original

# which stop word elimination algorithm to be applied
# allowed values:
#   default: use default one
#   none:    don't apply stop word elimination
stopword=default

# which stemming algorithm to be applied
# allowed values:
#   default: use default one
#   none:    don't apply stemming algorithm
stemmer=default

# which filters to be applied
# allowed values:
#   default:
#   none:   don't use filtering
#   filter1, filter2,...filterN: apply these filters in order.
# 
# Allowed filter names:
#   heading, title, emph

filters=default

# set shingle size range
# format is
#   start(inclusive), step, stop(inclusive)
# 
size-range=3,1,6

tag-removal=default
